/*
html{
  height: 100%;
  overflow: hidden;
}

body{
      color: #fff;
      margin: 0;
      padding: 0;
      perspective: 1px;
      transform-style: preserve-3d;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      font-family: "Luna";
}
header{
      box-sizing: border-box;
      padding: 30vw 0 5vw;
      width: 100vw;
      min-height: 100vh;
      position: relative;
      transform-style: inherit;
}

header h1{
      margin-top: -100px;
}
header *{
      text-align: center;
      font-size: 3rem;      
}
.box{
      box-shadow: black 5px 5px 10px;
      height: auto;
      width: auto;
      background: rgba(0,0,0,0.5);
      margin: auto;
      padding: 20px;
}
header, header:before{
      background: 50% 50% / cover;
}

header::before{
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      background-image: url(../images/photo.jpg);
      background-size: cover;
      transform-origin: center center 0;
      transform: translateZ(-1px) scale(2);
      z-index: -1;
      min-height: 500vh;
}
.dummy{
      height: 500px;
      background: rgba(0,0,0,0.5);
}
*/
/*------- Scrollbar Customize --------*/
/* width */
::-webkit-scrollbar {
      width: 10px;
      position: absolute;
      opacity: 0.5 !important;
}

/* Track */
::-webkit-scrollbar-track {
      background: rgba(241, 241, 241, 0);
      border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: rgba(55, 162, 234, 0.2);
      border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: rgba(55, 162, 234, 0.8);
}

::-webkit-scrollbar-track:hover {
      background: rgba(241, 241, 241, 0.7);
}

/*------------ Main page -----------*/


/*------- Global ---------*/
body,
html {
      height: 100%;
      margin: 0;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      line-height: 1.8em;
      color: #666;
}

a {
      color: inherit !important;
      text-decoration: none !important;
}

.container--background {
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.3) !important;
}
.container--background--light {
      background-color: rgba(255,255,255, 0.3) !important;
      border: white solid 1.3px;
}
.container--wide{
      max-width: 95% !important;
}
.pimg1,
.pimg2,
.pimg3,
.pimg4 {
      background-position: center;
      opacity: 0.85;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative;
}

.pimg1 {
      background-image: url(../images/backgrounds/photo1.jpg);
      min-height: 1150px;
}

.pimg2 {
      background-image: url(../images/backgrounds/photo1.jpg);
      min-height: 500px;
}

.pimg3 {
      background-image: url(../images/backgrounds/photo1.jpg);
      min-height: 500px;
}

.pimg4 {
      background-image: url(../images/backgrounds/photo1.jpg);
      min-height: 400px;
      padding-bottom: 70px;
}

section {
      padding: 50px 80px;
      text-align: center;
}

.section-light {
      background-color: #f4f4f4;
      color: #666;
}

.section-dark {
      background-color: #282e34;
      color: #ddd;
}

.ptext {
      /* margin: 50px auto; */
      box-sizing: border-box;
      width: 100%;
      height: 100px;
      text-align: center;
      color: #000;
      font-size: 27px;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 3rem;
}

.ptext .border {
      background-color: #111 !important;
      color: #fff;
      padding: 15px;
}

.ptext--small {
      padding-top: 1rem;
      height: 75px;
}

.border--small {
      font-size: 1rem;
      height: 10px !important;
      padding: 10px;
      letter-spacing: normal;
}

.ptext .border.trans {
      background-color: transparent;
}
.dropdown-menu{
      width: auto;
}
.dropdown-menu--sm{
      min-width: 100px !important;
      width: 100px;
}
.dropdown-item{
      padding: 0 10px !important;
}
.btn__sn{
      height: auto;
      padding: 0 !important;
      line-height: 30px;
      width: auto;
      min-width: 120px;
      color: white !important;
      border-radius: 5px !important;
      
}
.btn__sn--sm{
      min-width: 100%;
      font-size: 12px !important;
}
.btn__sn--twitter{
      background-color: #1b95e0;
}
.btn__sn--fb {
      background-color: #4267b2;
}


#up{      
      width: 50px;
      height: 50px;
      position: fixed;
      right: 5%;
      padding: 0 auto;
      text-align: center;
      cursor:pointer;
      -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
      transition: -webkit-box-shadow 0.2s ease-in-out;
      transition: box-shadow 0.2s ease-in-out;
      transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
      font-size: 30px;
      background: rgba(255,255,255,0.5);
      border: 1px solid white;
      border-radius: 5px;
      display: none;
      top: 85%;
      z-index:99;
}

#up:hover{
      -webkit-box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.7);
              box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.7);
}

/*------- Navigation -------*/

.searchbar {
      border-radius: 999px;
      height: 40px;
}

#logo {
      background-image: url("../images/employer/lebonjour/logo.png");
      background-size: cover;
      background-position: center center;
      width: 80px;
      height: 80px;
}

.see-more{
      margin-left: 85%;
}
#createCV ul{
      z-index: 1000 !important;
}
/*------- Job filter -------*/

.jumbotron {
      width: 70%;
      margin: 20px auto;
      padding: 0px auto !important;
}

.multiselect-container {
      max-height: 200px;
      overflow-y: scroll;
}

.multiselect-container li {
      padding: 0;
      width: 500px;
}

.multiselect-native-select {
      position: relative;
}

.multiselect-native-select select {
      border: 0 !important;
      clip: rect(0 0 0 0) !important;
      height: 1px !important;
      margin: -1px -1px -1px -3px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      left: 50%;
      top: 30px;
}

.multiselect-container li a label {
      margin: 0;
      height: 100%;
      cursor: pointer;
      font-weight: 400;
      padding: 3px 20px 3px 40px;
}
/* -------- Job card --------- */

.jobcard img.logo{
      width: 100px !important;
}
.jobcard {
      font-size: 0.9rem;
}
.jobcard h5{
      font-size: 1.1rem;
      font-weight: 700;
}
.jobcard h6{
      font-size: 0.9rem;
}
.jobcard .deadline{
      background: #fb2347;
      font-weight: 500;
      color: white;
}
.truncate{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

/*------ VIP Employer --------*/
.employer__vip{
      width: 95%;
}
.employer__vip::before {
      content: "NTD VIP";
      background-color: #7ab80e;
      position: absolute;
      top: 5px;
      left: 10px;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      padding: 7px;
      border-radius: 0 0 5px 5px;
}
.employer__vip li:hover{
      background: rgba(122, 184, 14,0.3);
      border-style: dotted !important;
}
.employer__vip {
      font-size: 0.9rem;
}
.employer__vip h5{
      font-size: 1.1rem;
      font-weight: 700;
}
.employer__vip h6{
      font-size: 0.9rem;
}


/*------ Events -------*/

.event__row {
      min-height: 250px;
      padding: 0 !important;
      position: relative;
}
.event__choose{
      position: absolute;
      width: 32%;
      z-index: 99;
}
.event__choose img{
      width: 60%;
      height: 60%;
      margin: 0 auto;
}
.event__row .container {
      margin: 0 15px 0 0 !important;

}
a.event__choose__item {
      display: flex !important;
      flex-direction: column;
      height: 124px;

}

.event__card img {
      height: 90% !important;
}
.event__card h5, .event__card p{
      color: black;
}

.event__card__date {
      padding: 10px 0 0 0 !important;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.event__card__day {
      font-weight: bold;
      font-size: 1.1rem;
}

.event__card__month {
      color: #f57f04;
      font-weight: bold;
      font-size: 2.5rem;
}

.event__follow__check {
      display: none;
}

.event__follow__button {
      background: white !important;
      color: #f57f04;
      border: 2px #f57f04 solid !important;
}

#event1Check:checked~button.event1,
#event2Check:checked~button.event2,
#event3Check:checked~button.event3,
#event4Check:checked~button.event4,
#event5Check:checked~button.event5,
#event6Check:checked~button.event6,
#event7Check:checked~button.event7 {

      background: #f57f04 !important;
      color: white;

}


/* --------- User Reviews --------- */
.reviews .card {
      height: 320px !important;
}

/*-------- Footer -------- */

footer {
      background-color: #282e34;
      padding-top: 30px;
}

footer ul {
      padding-left: 5px !important;
}

footer li {
      background-color: transparent !important;
      color: white;
      border: none !important;
      border-bottom: rgba(255, 255, 255, 0.6) dotted 0.5px !important;
      font-size: 0.8rem;
      min-height: 50px;
      padding-left: 0 !important;
      padding-right: 0 !important;
}

footer li:last-child {
      border: none !important;
}

.social {
      height: 35px;
}

.social__icon {
      height: 30px;
      margin: 10px 20px 10px 0 !important;

}




/* ------------- Employer Profile ---------- */

/*------ Banner -------*/
/*
.banner{
      height: 300px !important; 
}
*/
.banner{
      width: 100%;
}
.banner__item {
      width: 100% !important;
      height: 300px;
      overflow: hidden !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: white;
      background-position: center center;      
}

.banner__item--1 {
      background-image: url('../images/employer/lebonjour/banner.jpg');
}

.banner__item--2 {
      background-image: url("../images/employer/lebonjour/banner2.jpg");
}

.banner__item--3 {
      background-image: url("../images/employer/lebonjour/banner3.jpg");
}

/*------ Detail info scroll -------*/
.container__scroll {
      position: relative !important;
      display: block;
      height: 700px;
      overflow-y: scroll;
}

.container__scroll__info {
      height: 500px;
      padding-left: 15px;
}

/* ul.nav-pills {
      top: 20px;
      position: fixed;
} */
/* 
.myScrollspy {
      position: absolute !important;
      top: 0;
      z-index: 2000 !important;

}

.myScrollspy a {
      border-right: 1px #37a2ea solid !important;
      border-radius: 0 !important;
}


.myScrollspy a:hover{
      border-radius: 7px 0 0 7px !important;
      background-color: rgba(255,255,255,0.8) !important;
} */
#myScrollSpy{
      width: 1140px;
}
#myScrollSpy .active {
      color: #007bff !important;
}
.sidebar__box {
      height: 500px;
      overflow-y: scroll;
}

.rating-header {
      margin-top: -10px;
      margin-bottom: 10px;
  }




/*---------- Job description ----------*/

/*--- Tags ---input */

.bootstrap-tagsinput {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(23, 105, 36);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      display: inline-block;
      padding: 4px 6px;
      color: #555;
      vertical-align: middle;
      border-radius: 4px;
      width: 75%;
      line-height: 22px;
      cursor: text;
    }
    .bootstrap-tagsinput input {
      border: none;
      box-shadow: none;
      outline: none;
      background-color: transparent;
      padding: 0 6px;
      margin: 0;
      width: auto;
      max-width: inherit;
    }
    .bootstrap-tagsinput.form-control input::-moz-placeholder {
      color: #777;
      opacity: 1;
    }
    .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
      color: #777;
    }
    .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
      color: #777;
    }
    .bootstrap-tagsinput input:focus {
      border: none;
      box-shadow: none;
    }
    .bootstrap-tagsinput .tag {
      margin-right: 2px;
      color: rgb(252, 250, 250);
    }
    .bootstrap-tagsinput .tag [data-role="remove"] {
      margin-left: 8px;
      cursor: pointer;
    }
    .bootstrap-tagsinput .tag [data-role="remove"]:after {
      content: "x";
      padding: 0px 2px;
    }
    .bootstrap-tagsinput .tag [data-role="remove"]:hover {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
    span.label-info{
          background-color: #5bc0de;
          padding: 2px 7px;
          border-radius: 5px;
          height: 22px;
          line-height: 22px;
          font-weight: bold;
    }
    .related_jobs{
          height: 400px;
          overflow: scroll;

    }



/* ---------- Main job ----------- */

.employer__navbar .logo{
      width: 6%;
      height: 6vw;
}

