<!DOCTYPE html>
<html lang="en">

<body>
            
      <footer class="row">
            <div class="col-md-4">
                        <div class="container">
                              <div class="row">
                                          <div class="col-md-4">
                                                <img class="bg-light rounded w-100" src="../images/employer/lebonjour/logo.png" alt="">
                                          </div>
                                          <div class="col-md-8 py-3 pl-1">
                                                <a href="https://www.facebook.com/LeBonjourJOB/"><h6 class="text-light">Le Bonjour Job - Hospitality career</h6></a>
                                                <p class="text-light font-italic font-weight-light">You do your business. We take care of the world.</p>
                                          </div>
                              </div>
                        </div>
            </div>
            <div class="col-md-3">
                        <ul>
                              <li class="list-group-item"><h5>Thông tin</h5></li>
                              <li class="list-group-item">Về đội ngũ phát triển</li>
                              <li class="list-group-item">Chính sách bảo mật</li>
                              <li class="list-group-item">Điều khoản sử dụng</li>
                              <li class="list-group-item">FAQ</li>
                        </ul>
            </div>
            <div class="col-md-3">
                        <ul>
                              <li class="list-group-item"><h5>Liên hệ</h5></li>
                              <li class="list-group-item">Liên hệ trực tiếp</li>
                              <li class="list-group-item">Kết nối mạng xã hội 
                                    <div class="d-flex social">
                                          <a href="https://www.facebook.com/LeBonjourJOB/"><img class="social__icon" src="..\images\icons\facebook.png" alt="Facebook"></a>
                                          <a href="https://www.messenger.com/t/316196982241647"><img class="social__icon" src="..\images\icons\messenger.png" alt="Messenger"></a>
                                          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=lebonjourjob@gmail.com "><img class="social__icon" src="..\images\icons\gmail.png" alt="Gmail"></i></a>
                                    </div>
                              </li>
                              <li class="list-group-item">Hotline:  
                                          <a href="tel:0236 2474 999" class="text-success font-weight-bold font-size-5">0236 2474 999</a>
                              </li>
                              
                        </ul>
            </div>
            <div class="col-md-2"></div>
      </footer>
</body>
</html>