

<style>

#i1, #i2, #i3, #i4, #i5{ display: none;}

.rows{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 100%;
		height: 100%;
		padding-bottom: 38%;
	  user-select: none;
		background-color: #1c1c1c;

	}

	.rows .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.rows .slide_img img{
		width: inherit;
		height: inherit;
	}


#nav_slide{
	width: 100%;
	bottom: 12%;
	height: 100px;
	/* margin-top: 10px; */
	padding-top: 10px;
	/* position: absolute; */
    padding: 1% 0;
	text-align: center;
	z-index: 99;
	cursor: default;
    display: flex;
    justify-content: center;
    background-color: white;
}

#nav_slide .dots{
	/* top: -5px; */
	width: 20%;
    height: 100%;
	margin: 0 4px;
	position: relative;
	display: inline-block;
	background-size: cover;
    background-position: center center;
	transition: .4s;
    opacity: 0.4;
}
#nav_slide label{
    width: 100px;
    height: 100px;
}
#nav_slide .dots:hover {
	cursor: pointer;
    opacity: 0.8;
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ opacity: 1;
        }

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		

@media screen and (max-width: 685px){
	.rows{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
	}	


@media screen  and(min-width: 970px){
	.me{ display: none;}
}
    </style>

    <body>


            <div class="container">
                <div class="rows">
	
                    <input type="radio" id="i1" name="images" checked />
                    <input type="radio" id="i2" name="images" />
                    <input type="radio" id="i3" name="images" />
                    <input type="radio" id="i4" name="images" />
                    <input type="radio" id="i5" name="images" />	
            
        
                <div class="slide_img" id="one">			
                    <img src="../images/employer/lebonjour/activity1/act1.jpg">
                </div>
                <div class="slide_img" id="two">
                    <img src="../images/employer/lebonjour/activity1/act2.jpg">
                </div>
                <div class="slide_img" id="three">
                    <img src="../images/employer/lebonjour/activity1/act3.jpg">	
                </div>
                <div class="slide_img" id="four">
                    <img src="../images/employer/lebonjour/activity1/act4.jpg">	
                </div>
                <div class="slide_img" id="five">
                    <img src="../images/employer/lebonjour/activity1/act5.jpg">	
                </div>
        
            </div>
            <div id="nav_slide">
                
                    <label for="i1" class="dots" id="dot1" style="background-image: url('../images/employer/lebonjour/activity1/act1.jpg')"></label>
                    <label for="i2" class="dots" id="dot2" style="background-image: url('../images/employer/lebonjour/activity1/act2.jpg')"></label>
                    <label for="i3" class="dots" id="dot3" style="background-image: url('../images/employer/lebonjour/activity1/act3.jpg')"></label>
                    <label for="i4" class="dots" id="dot4" style="background-image: url('../images/employer/lebonjour/activity1/act4.jpg')"></label>
                    <label for="i5" class="dots" id="dot5" style="background-image: url('../images/employer/lebonjour/activity1/act5.jpg')"></label>
                
            </div>
            </div>
		



    </body>
</html>