<!DOCTYPE html>
<html lang="en">

<body>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            
      <div id="home"></div> <!-- For up button -->
        <nav class="navbar navbar-expand-lg bg-transparent border font-weight-bold position-sticky">
                <div class="d-inline-block bg-light rounded-circle" id="logo"></div>
                      
                
                    <a class="navbar-brand ml-2 mr-auto" href="../index.html">
                          Le Bonjour Jobs &nbsp;
                    </a>
                    <form class="form-inline ml-2 my-4 my-lg-0 bg-light row searchbar">
                          <input class="form-control bg-transparent border-0 col" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn bg-transparent my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                    </button>
  
                    <div class="collapse navbar-collapse" id="navbarMain">
                          <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                      <a class="nav-link" href="#">Công việc hot <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" href="../shared/constructing.html">Cẩm nang nghề</a>
                                </li>
                                <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tạo CV
                                      </a>
                                      <div class="dropdown-menu"  id="createCV" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Mẫu CV truyền thống</a>
                                            <a class="dropdown-item" href="#">Mẫu CV hiện đại</a>
  
                                            <a class="dropdown-item" href="#">Mẫu CV phá cách</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Tư vấn tạo CV</a>
                                      </div>
                                </li>
  
                          </ul>
  
                    </div>
                    <div class="d-block d-md-inline">
                        <a class="btn login" href="../applicant/applicant_profile.html" role="button" data-toggle="" data-target="#loginModal">Đăng nhập</a>
                        <span class="font-weight-light">&nbsp;|&nbsp;</span>
                        <a class="btn signup" href="../applicant/applicant_profile.html" role="button" data-toggle="" data-target="#signupModal">Đăng ký</a>
                        <span class="font-weight-light">&nbsp;|&nbsp;</span>
                        <a href="#">EN <span class="badge" style="background-image: url(../images/flag-en-logo.png);background-size: cover; width: 40px; height: 25px;"> </span></a>
                    </div>
              </nav>
            
            <!-- Login Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Đăng nhập</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                        ...
                  </div>
                  <div class="modal-footer">
                        <a href="#">Đăng ký</a>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Đăng nhập</button>
                        
                  </div>
                  </div>
                  </div>
            </div>
            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                              <h5 class="modal-title" id="signupModalLabel">Đăng ký</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                        <div class="modal-body">
                              ...
                        </div>
                        <div class="modal-footer">
                              <a href="#">Đăng nhập</a>
                              <button type="button" class="btn btn-success">Đăng ký</button>
                        </div>
                        </div>
                        </div>
            </div>
            
</body>
</html>